n8n/workflows/csv-import.json
{
  "name": "CSV Import Workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "File Upload Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse CSV data\nconst csvData = $json.fileContent;\nconst lines = csvData.split('\\n');\nconst rows = lines.map(line => line.split(','));\n\nreturn rows.map(row => ({ text: row[0] }));"
      },
      "name": "Parse CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/v1/nlp/process",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { text: $json.text, mode: 'lemmas' } }}"
      },
      "name": "Process Text (NLP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/v1/graph/build",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { ngrams: $json.ngrams } }}"
      },
      "name": "Build Graph",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "nodes",
        "columns": "node_id, label, type, properties, context_id"
      },
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "File Upload Trigger": {
      "main": [[{"node": "Parse CSV", "type": "main", "index": 0}]]
    },
    "Parse CSV": {
      "main": [[{"node": "Process Text (NLP)", "type": "main", "index": 0}]]
    },
    "Process Text (NLP)": {
      "main": [[{"node": "Build Graph", "type": "main", "index": 0}]]
    },
    "Build Graph": {
      "main": [[{"node": "Save to Database", "type": "main", "index": 0}]]
    }
  }
}
