n8n/workflows/gap-bridging.json
{
  "name": "Synthesis Gap Bridging",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gaps/bridge",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/v1/gaps/detect",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "id": "detect_gaps",
      "name": "Detect Gaps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate bridging ideas for these structural gaps: \" + JSON.stringify({{ $json.gaps }})\n    }\n  ]\n}"
      },
      "id": "generate_bridges",
      "name": "Generate Bridging Ideas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Detect Gaps", "type": "main", "index": 0}]]
    },
    "Detect Gaps": {
      "main": [[{"node": "Generate Bridging Ideas", "type": "main", "index": 0}]]
    },
    "Generate Bridging Ideas": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "gap-bridging",
  "meta": {
    "instanceId": "synthesis"
  },
  "tags": ["gaps", "synthesis"]
}
