n8n/workflows/graphrag-query.json
{
  "name": "Synthesis GraphRAG Query",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "graphrag/query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/v1/graphrag/process",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "id": "http_request",
      "name": "Process Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ $json.context }} + \"\\n\\nQuery: \" + {{ $json.query }}\n    }\n  ]\n}"
      },
      "id": "claude_api",
      "name": "Claude AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.content[0].text }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Process Query", "type": "main", "index": 0}]]
    },
    "Process Query": {
      "main": [[{"node": "Claude AI", "type": "main", "index": 0}]]
    },
    "Claude AI": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "graphrag-query",
  "meta": {
    "instanceId": "synthesis"
  },
  "tags": ["graphrag", "synthesis"]
}
